{
  "env": {
    "browser": false,
    "node": true,
    "commonjs": true,
    "shared-node-browser": false,
    "es6": true,
    "jest": false
  },
  "extends": "airbnb-base/legacy",
  "settings": {},
  "rules": {
    "no-underscore-dangle": [2, { "allow": ["_id"]}]
  },
  "globals": {},
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "ecmaVersion": 8,
        "experimentalObjectRestSpread": true
    }
  }
}